{% extends 'base.html.twig'%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <h1 class="text-center text-danger">
                erreur 
            </h1>

        </div>
    </div>
</div>
<a href="{{path('app_home')}}" class="btn btn-primaray">Rour à l'Accueil</a>
{% endblock%}